* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amita', serif;
  color: #343a40;
  line-height: 1;
}
/* header */
.container-fluid.header {
  background: #eee;
  box-shadow: 0 8px 8px -4px rgb(230, 212, 173);
}
.navbar{
  background-color: #e3e0d9;
}
.navbar a{
  text-decoration: none;  
}
.navbar span { 
  color: #000000;
  font-size: 18px;
}
.signInBtn{
  background-color: #dddd76;
  border: none;
}
.signInBtn:hover{
  background-color: rgb(184, 184, 7);
}
/* dropdown */
/* Example CSS for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  /* background-color: #3498db; */
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-top: -20px;
}
.dropdown-content label {
  flex: 1 1 calc(33.33% - 10px);
  display: block;
  line-height: 2;
  margin: 5px;
  cursor: pointer;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
  cursor: pointer;
  font-style: italic;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: underline !important;
  color: #dea623 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* filter elements */
.filter-elem{
  display: flex;
}
.filter-badge{
  background-color: #ffffff;
  margin-right: .5rem;
  padding: 0 .625rem;
}
.filter-badge a{
  margin-left: 8px;
}
/* Add more styling as needed */
/* cover picture  */
.container-about-bg-pic {
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("./assets/about_us_background.jpg");
  /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  min-height: 350px;
}
.blur-layer {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(8px);
  z-index: 1;
}
.about-bg-pic-title{
  z-index: 1;    
  /* color: white; */
  text-align: center;
  /* text-align: center; */
    color: #dea623;
    font-size: 90px;
    font-family: 'Amita', serif;
    position: relative;
    /* top: 30%; */
}

/* about contents  */
.about-contents {
  background-color: antiquewhite;
  width: 1000px;
  margin: 100px auto 50px auto;
  min-height: 350px;
}

.about-contents img {
  /* min-width: 415px;
  max-height: 350px; */
  width: 100%;
  padding-left: 40px;
  margin-top: -50px;
  max-height: 350px;
  margin-bottom: 50px;
}

.content-text {
  /* margin-left: 280px; */
  padding: 20px 50px 20px 50px;
  text-align: justify;
}
.content-text p, span{
  font-size: 12px;
  line-height: 2;
}
/* faq section  */
.faq-section{
  /* border: 2px solid #dea623; */
  width: 1000px;
  background-color: rgba(205, 204, 201, 0.32);
  margin: 0px auto;
}
.faq-section .faq-title {
  text-align: center;
  font-family: 'Amita', serif;
  font-size: 50px;
  padding-top: 40px;
}
.accordion {
  /* width: 1000px; */
  /* margin: 80px 50px; */
  margin: 0px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 50px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  /* padding: 20px 24px; */
  padding: 20px 24px 10px 24px;
  /* padding-right: 48px; */
  cursor: pointer;
  /* border-top: 4px solid #fff;
  border-bottom: 4px solid #fff; */
  border-radius: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  background-color: #d4a373;
  color: #fff;
}
.item p{
  font-size: 20px;
    /* line-height: 2; */
  text-align: start;
  padding: auto;
}
.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

/* .content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
} */
.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
  border: 1px solid;
  margin-top: -6px;
  margin-left: 14px;
  margin-right: 14px;
  border: none;
  padding: 10px;
  background-color: #e8d4a5;;
  border-radius: 3px;
}
.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* footer  */
.site_footer {
  /* background-color: #ffffff; */
  color: black;
  font-family: "Amita", serif;
  background: #eee;
  box-shadow: 10px -4px 10px rgb(230, 212, 173);
}
.site_footer a{
  text-decoration: none;
  color: #000000;
  line-height: 1.5;
}
.site_footer a:hover{
  color: #d65b5b;
}
.footer_logo {
  color: #900009;
}
/* OPEN STATE */
.open {
  border-top: 4px solid #bc6c25;
}

.open .number,
.open .title {
  color: #ffffff;
}
@media only screen and (max-width: 1024px) {
/* about contents  */
  .about-contents {
    /* background-color: antiquewhite; */
    width: 800px;
    margin: 100px auto 50px auto;
    min-height: 350px;
  }
  .content-text {
    /* margin-left: 280px; */
    padding: 20px;
    text-align: justify;
  }
  .faq-section {    
    width: 800px;    
  }
}
@media only screen and (max-width: 822px) {

  /* about contents  */
  .about-contents {
    width: 600px;
  }
  .faq-section {
    width: 600px;
  }
}
@media only screen and (max-width: 780px) {
  .about-contents img {      
      margin-bottom: 0px;
    }
  .content-text{
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .about-contents {
      width: 400px;
    }
  .faq-section {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .about-contents {   
    width: 350px;    
  }
  .faq-section {
    width: 350px;
  }
}
/* homepage  */
.sectionStyle {
  background-image: url('./images/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  text-align: center;
  padding: 50px;
}

.DinerHead {
  margin-bottom: 0px;
  height: 450px;
}

.dinnercardOne {
  width: 350px;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.dinnercardTwo {
  width: 350px;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.dinnerHeader {
  width: 100%;
  height: 80px;
  background-color: #F2EFE9;
  text-align: center;
    padding-top: 10px;
}

.mainDinnerSection {
  background-color: #F2EFE9;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.dinnercardThree {
  width: 350px;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.dinnercardPic {
  background-image: url('./images/dinner.png');
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
}

.dinnercardInfo {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}

.dinnerRatings {
  background-image: url('./images/circle-heart.png');
  width: 350px;
  height: 30px;
  background-position: 265px 0px;
  background-repeat: no-repeat;
  font-size: 20px;
  text-align: center;
}

.sectionStyle .headerOne {
  font-size: 50px;
}

.sectionStyle .headerTwo {
  font-size: 100px;
}

.headerOne {
  margin-top: -21.5px;
  margin-bottom: -71.5px;
}

.headerTwo {
  margin-top: 60.1px;
  margin-bottom: -28.9px;
}

.sectionStyle .headerThree {
  font-size: 30px;
}

.headerThree {
  margin-top: 30px;
  margin-bottom: 2px;
}

.DSSection {
  background-color: #F2EFE9;
  height: 300px;
}

.mainProfileSection {
  background-color: #ffffff;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.profilecard {
  width: 350px;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.profilecardPic {
  background-image: url('./images/profile.png');
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileRatings {
  background-image: url('./images/user-check.png');
  width: 350px;
  height: 30px;
  background-position: 265px 0px;
  background-repeat: no-repeat;
  font-size: 20px;
  text-align: center;
}

.profileHeader {
  width: 100%;
  /* height: 80px; */
  background-color: #ffffff;
  text-align: center;
}

/* .profilecardInfo {
  font-size: 10px;
  text-align: center;
  margin: 0%;
} */
.profilecardInfo {
  font-size: 22px;
  text-align: center;
  margin-top: 10px;
}
.profileHeader {
  width: 100%;
  /* height: 80px; */
  background-color: #ffffff;
}

.ProfileHead {
  height: 450px;
  margin-bottom: 40px;
}

.BakingHead {
  height: 450px;
  margin-bottom: 40px;
  background-color: #F2EFE9
}

.BakingHeader {
  background-image: url('./images/BakingPic.png');
  background-size: cover;
  background-position: 10px 20px;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  background-color: #F2EFE9;
  margin-bottom: 10px;
}

.BHone {
  text-align: center;
  padding-top: 45px;
  font-size: 80px;
  color: #ffffff;
}

.mainBakingSection {
  background-color: #F2EFE9;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
}

.TipsHead {
  margin-top: 170px;
  height: 450px;
}

.bakedcard {
  width: 350px;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.bakedcardPic {
  background-image: url('./images/basicbread.png');
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainTipsSection {
  background-image: url('./images/flatware.png');
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

.TipsH {
  font-size: 50px;
  padding-top: 10px;
  text-align: center;
}

.TipsCards {
  height: 335px;
  background-color: #EDD9C7;
  display: flex;
  justify-content: center;
}

.TipsCardsPic {
  background-image: url('./images/tips.png');
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.TipsCardInfo {
  width: 350px;
  height: 100px;
  padding-top: 10px;
}

.TipsCardOne {
  height: 350px;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.TipsCardTwo {
  height: 350px;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

div.bakedcard:nth-child(1) {
  margin-left: 33px;
}

.TipsCardOne {
  margin-left: 33px;
}

.mainBlogsSection {
  background-image: url('./images/blog.png');
  /* height: 450px; */
  background-repeat: no-repeat;
  background-size: cover;
}

.BlogsHeader {
  height: 150px;
}

.BlogsCardsPic {
  background-image: url('./images/image 10.png');
  width: 350px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.BlogsCardOne {
  height: 350px;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-left: 33px;
}

.BlogsCardTwo {
  height: 350px;
  width: 350px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.BlogsCards {
  height: 335px;
  background-color: #B6AEAB;
  display: flex;
  justify-content: center;
}

.BlogsCards {
  padding-top: 30px;
}
/* signin page desgin starts here */
.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 50px;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #7498A1;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: #023047;
}  

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
  
}

.container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;  
}

.toggle {
  background-color: #F2EFE9;
  height: 100%;
  background: linear-gradient(to right, #D1A6A6, #A5B391);
  color: #000;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: background-image 0.6s ease-in-out;
  background-image: url("./assets/signImage1.png");
    background-size: cover;
    background-position: center;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  z-index: 1;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}
/* signin ends  */
/* Add this CSS to your component or a global stylesheet */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 50%;
}

/* Style the close button */
.modal-content button {
  background-color: transparent !important;
  color: #000;
  padding: 0px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: end;
   
}
.previous-btn.round-btn {
  z-index: 3;
  position: absolute;
  font-size: 15px;
  padding: 8px;
}
.previous-btn.round-btn:hover {
  text-decoration: underline;
  color: #900009;
}
