* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amita', serif;
  color: #343a40;
  line-height: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/* header */
.container-fluid.header {
  background: #eee;
  box-shadow: 0 8px 8px -4px rgb(230, 212, 173);
}
.navbar{
  background-color: #e3e0d9;
}
.navbar a{
  text-decoration: none;  
}
.navbar span { 
  color: #000000;
  font-size: 18px;
}
.signInBtn{
  background-color: #dddd76;
  border: none;
}
.signInBtn:hover{
  background-color: rgb(184, 184, 7);
}
/* dropdown */
/* Example CSS for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  /* background-color: #3498db; */
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-top: -20px;
}
/* .dropdown-content label {
  flex: 1 1 calc(33.33% - 10px);
  display: block;
  line-height: 2;
  margin: 5px;
  cursor: pointer;
} */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  /* text-decoration: none; */
  display: block;
  cursor: pointer;
  font-style: italic;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: underline !important;
  color: #dea623 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-container {
  min-width: 500px;
  max-height: 250px;
  overflow: scroll;
}

.dropdown-element {
  padding: 8px;
  /* border: 1px solid #ccc; */
  margin: 2px;
}
/* filter elements */
.filter-elem{
  display: flex;
}
.filter-badge{
  background-color: #ffffff;
  margin-right: .5rem;
  padding: 0 .625rem;
}
.filter-badge a{
  margin-left: 8px;
}
/* Add more styling as needed */
/* cover picture  */
.container-about-bg-pic {
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("./assets/about_us_background.jpg");
  /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  min-height: 350px;
}
.blur-layer {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(8px);
  z-index: 1;
}
.about-bg-pic-title{
  z-index: 1;    
  /* color: white; */
  text-align: center;
  /* text-align: center; */
    color: #dea623;
    font-size: 90px;
    font-family: 'Amita', serif;
    position: relative;
    /* top: 30%; */
}

/* about contents  */
.about-contents {
  background-color: antiquewhite;
  width: 1000px;
  margin: 100px auto 50px auto;
  min-height: 350px;
}

.about-contents img {
  /* min-width: 415px;
  max-height: 350px; */
  width: 100%;
  padding-left: 40px;
  margin-top: -50px;
  max-height: 350px;
  margin-bottom: 50px;
}

.content-text {
  /* margin-left: 280px; */
  padding: 20px 50px 20px 50px;
  text-align: justify;
}
.content-text p, span{
  font-size: 12px;
  line-height: 2;
}
/* faq section  */
.faq-section{
  /* border: 2px solid #dea623; */
  width: 1000px;
  background-color: rgba(205, 204, 201, 0.32);
  margin: 0px auto;
}
.faq-section .faq-title {
  text-align: center;
  font-family: 'Amita', serif;
  font-size: 50px;
  padding-top: 40px;
}
.accordion {
  /* width: 1000px; */
  /* margin: 80px 50px; */
  margin: 0px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 50px;
}

.item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  /* padding: 20px 24px; */
  padding: 20px 24px 10px 24px;
  /* padding-right: 48px; */
  cursor: pointer;
  /* border-top: 4px solid #fff;
  border-bottom: 4px solid #fff; */
  border-radius: 70px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  background-color: #d4a373;
  color: #fff;
}
.item p{
  font-size: 20px;
    /* line-height: 2; */
  text-align: start;
  padding: auto;
}
.number {
  font-size: 24px;
  font-weight: 500;
  color: #ced4da;
}

.title,
.icon {
  font-size: 24px;
  font-weight: 500;
}

/* .content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
} */
.content-box {
  grid-column: 2 / -1;
  padding-bottom: 16px;
  line-height: 1.6;
  border: 1px solid;
  margin-top: -6px;
  margin-left: 14px;
  margin-right: 14px;
  border: none;
  padding: 10px;
  background-color: #e8d4a5;;
  border-radius: 3px;
}
.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* footer  */
.site_footer {
  /* background-color: #ffffff; */
  color: black;
  font-family: "Amita", serif;
  background: #eee;
  box-shadow: 10px -4px 10px rgb(230, 212, 173);
}
.site_footer a{
  text-decoration: none;
  color: #000000;
  line-height: 1.5;
}
.site_footer a:hover{
  color: #d65b5b;
}
.footer_logo {
  color: #900009;
}
/* OPEN STATE */
.open {
  border-top: 4px solid #bc6c25;
}

.open .number,
.open .title {
  color: #ffffff;
}
@media only screen and (max-width: 1024px) {
/* about contents  */
  .about-contents {
    /* background-color: antiquewhite; */
    width: 800px;
    margin: 100px auto 50px auto;
    min-height: 350px;
  }
  .content-text {
    /* margin-left: 280px; */
    padding: 20px;
    text-align: justify;
  }
  .faq-section {    
    width: 800px;    
  }
}
@media only screen and (max-width: 822px) {

  /* about contents  */
  .about-contents {
    width: 600px;
  }
  .faq-section {
    width: 600px;
  }
}
@media only screen and (max-width: 780px) {
  .about-contents img {      
      margin-bottom: 0px;
    }
  .content-text{
    padding: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .about-contents {
      width: 400px;
    }
  .faq-section {
    width: 400px;
  }
}

@media only screen and (max-width: 400px) {
  .about-contents {   
    width: 350px;    
  }
  .faq-section {
    width: 350px;
  }
}
/* homepage  */
/* Container Styles */
.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero Section Styles */
.hero-section {
  display: flex;
  background-image: url('./assets/heroBanner.svg');
  /* Replace with your actual hero image URL */
  background-size: cover;
  background-position: center;
  text-align: center;
  /* Align text to the left */
  justify-content: flex-start;
  /* Align contents to the left */
  padding: 100px 0;
  position: relative;
  max-width: 100%;
}


.hero-content {
  max-width: 600px;
  margin-left: 0px;

}

.hero-content h1 {
  margin-bottom: 20px;
  font-family: 'Amita', serif;
}

.heroheaderone {
  font-size: 5em;
  margin-top: 10px;
}

heroheadertwo {
  font-size: 3.5em;
  margin-bottom: 0;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Featured Recipes Section Styles */
.featured-recipes {
  margin-bottom: 80px;
}

.featuredrecipeheader {
  font-size: xxx-large;
}


/* Featured Blogs Section Styles */
.featured-blogs {
  margin-bottom: 80px;
  min-height: 20vh;
}

.featuredblogheader {
  font-family: 'Amita', serif;
  font-size: xxx-large;

}

.slick-list {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Inline #1 | http://localhost:5173/ */

.slick-prev,
.slick-next {
  width: 10vh;
  height: 100vh;
}


section.featured-recipes:nth-child(2) {
  margin-bottom: 80px;
}


.slick-slider {
  margin: 0 -15px;
}

.slick-slide {
  padding: 0 15px;
  box-sizing: border-box;
}

/* Share recipe section*/
.share-recipe {
  background-image: url('./assets/section.svg');
  background-size: cover;
  padding: 100px;
  background-position: 50%;
}

/* Header Styles */
header {
  text-align: center;
  margin-bottom: 20px;
}

/* Heading Styles */
h1,
h2,
h3 {
  color: #333;
}

/* Section Styles */
section {
  margin-bottom: 80px;
}

/* Recipe Card Styles */
.recipe-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featured-recipes h2 {
  font-family: 'Amita', serif;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-details {
  padding: 15px;
}

.recipe-details h3 {
  margin-bottom: 10px;
}

.recipe-details p {
  color: #666;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.featured-recipes {
  margin-bottom: 30px;
}

.recipe-list-horizontal {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  margin-bottom: -10px;
}

.recipe-list-horizontal::-webkit-scrollbar {
  height: 8px;
}

.recipe-list-horizontal::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  margin-right: 10px !important;
}
/* homepage ends */
/* signin page desgin starts here */
.container-signin {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-top: 50px;
  margin-left:250px;
}

.container-signin p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container-signin span {
  font-size: 12px;
}

.container-signin a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container-signin button {
  background-color: #7498A1;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: #023047;
}  

.container-signin form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container-signin input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-signin.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-signin.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
  
}

.container-signin.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;  
}

.toggle {
  background-color: #F2EFE9;
  height: 100%;
  background: linear-gradient(to right, #D1A6A6, #A5B391);
  color: #000;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: background-image 0.6s ease-in-out;
  background-image: url("./assets/signImage1.png");
    background-size: cover;
    background-position: center;
}

.container-signin.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  z-index: 1;
}

.toggle-left {
  transform: translateX(-200%);
}

.container-signin.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container-signin.active .toggle-right {
  transform: translateX(200%);
}
/* signin ends  */
/* Add this CSS to your component or a global stylesheet */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black overlay */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 50%;
}

/* Style the close button */
.modal-content button {
  background-color: transparent !important;
  color: #000;
  padding: 0px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: end;
   
}
/* back button design  */
.previous-btn.round-btn {
  z-index: 3;
  position: absolute;
  font-size: 15px;
  padding: 8px;
}
.previous-btn.round-btn:hover {
  text-decoration: underline;
  color: #900009;
}
/* blog section  */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
}

.modal-content {
  position: relative;
  background-color: #F5F5F5;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  font-size: large;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.animate__hidden {
  opacity: 0;
}

.animate__fadeIn {
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.animate__hidden {
  opacity: 0;
}

.animate__fadeIn {
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}


.blog-post {
  margin: 20px;
  /* Adjust margin as needed */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 1200px;
  /* Adjust the max-width as needed */
}

.blog-post:hover {
  transform: scale(1.08);
  /* Adjust the scale factor as needed */
}

.blog-post-content {
  /* Adjust the max-width as needed */
  max-width: 100%;
  margin: 0 auto;
}

.animate__hidden {
  opacity: 0;
}

.animate__fadeIn {
  opacity: 1;
  transition: opacity 0.75s ease-in-out;
}

.blogheader {
  display: flex;
  background-image: url('./assets/blogbanner.svg');
  /* Replace with your actual hero image URL */
  background-size: cover;
  background-position: center;
  text-align: center;
  /* Align text to the left */
  justify-content: center;
  /* Align contents to the left */
  padding: 100px 0;
  position: relative;
  max-width: 100%;
}

.blogheader {
  font-size: 4em;
  line-height: 1.1;
  font-family: Amita, Serif;
}

.posts {
  margin: 0 auto;
  width: 1200px;
}
/* blog section ends  */
